.ff-browse {
  $arrowBarBgColor: #e5e5e5;
  $popupBorderSize: 4px;

  width: 450px;
  pointer-events: none;

  .ff-popup-trigger-wrapper {
    $popupTriggerColor: #E50914;
    $caretPopupTriggerSize: 5px;
    $popupTriggerHeight: 70px;

    height: $popupTriggerHeight;
    width: 100px;
    pointer-events: all;
    cursor: pointer;

    .ff-popup-trigger {
      position: relative;
      line-height: $popupTriggerHeight;

      color: $popupTriggerColor;
      font-weight: 400;

      .trigger-caret {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-left: $caretPopupTriggerSize solid transparent;
        border-right: $caretPopupTriggerSize solid transparent;
        border-top: $caretPopupTriggerSize solid $popupTriggerColor;
      }

    }

  }

  .ff-netflix-arrow-bar {
    $arrowBarCaretSize: 15px;
    pointer-events: all;
    width: 100%;
    background: $arrowBarBgColor;
    position: relative;
    display: block;
    height: 5px;
    border: $popupBorderSize solid $arrowBarBgColor;

    .arrow-bar-caret {
      position: absolute;
      top: -15px;
      left: 20px;

      width: 0;
      height: 0;
      border-left: $arrowBarCaretSize solid transparent;
      border-right: $arrowBarCaretSize solid transparent;
      border-bottom: $arrowBarCaretSize solid $arrowBarBgColor;
    }

  }

  .ff-browse-popup {
    $searchWrapperHeight: 30px;
    $searchInpitBgColor: rgba(#141414,0.8);
    pointer-events: all;

    background: rgba(0,0,0,0.9);
    overflow: hidden;
    border: 4px solid $arrowBarBgColor;
    // border-top: 1px solid $arrowBarBgColor;
    width: 100%;

    .ff-search-wrapper {
      height: $searchWrapperHeight;
      height: 50px;
      width: 100%;
      position: relative;
      background: $searchInpitBgColor;

      .ff-search-input {
        width: 100%;
        height: 30px;
        background: $searchInpitBgColor;
        border: none;
        padding: 10px 5px 10px 10px;
        color: #FFFFFF;
        transition: background-color 0.3s ease-in-out;
        outline: 0;

        &:focus {
          color: #000000;
          background: #FFFFFF;
        }
      }
    }

    .ff-categories-wrapper{
      width: 100%;
      height: 250px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 1em;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #000000;
        outline: 0;
      }

      .ff-categories {
        list-style: circle;
        color: #FFFFFF;
        padding-left: 30px;
      }
    }

    .ff-category-link {
      color: #FFFFFF;
      font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 14px;
      text-decoration: none;

      &:hover {
       text-decoration: underline;
      }
    }

  }


}

