/* Base Application Styles */
body {
  color: #FFFFFF;
  background: #141414;
  padding: 20px;
}

// .akira-header {
//   ul[role="navigation"]{
//     list-style: none;

//     > li {
//       display: inline-block;
//       padding: 0 25px;
//       line-height: 70px;
//       cursor: pointer;

//       &:first-child {
//         padding-left: 0;
//       }
//     }
//   }
// }

.app-title {
  font-size: 10vw;
  text-align: center;
}

.profile-name {
  color: red;
}

@import './fromNetflix';

// ====
// NETFLIX Override
// ====
.akira-header {
  position: relative;
}